* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  pointer-events: none;
}

/* Hide scrollbar for Chrome, Safari, Edge */
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox legacy IE/Edge */
html,
body {
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow: hidden;
  height: 100%;
  pointer-events: none;
}

:root {
  font-family: 'Inter', sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: Millennium;
  src: url('../assets/fonts/Millennium.ttf');
}

@font-face {
  font-family: MSSansSerif;
  src: url('../assets/fonts/MSSansSerif.ttf');
}

/* Text */
h1 {
  color: rgba(244, 236, 225, 0.775) !important;
  font-size: 88px;
  text-align: center;
  font-weight: 700;
  font-family: 'roboto mono', monospace;
  pointer-events: none;
}

h2 {
  /* font-size: 28px; */
  font-weight: 100;
  font-family: MSSansSerif, monospace;
  text-align: center;
  padding-top: 2px;
  letter-spacing: 0.5px;
  color: rgb(226, 226, 226) !important;
}

p {
  color: rgba(244, 236, 225, 0.775) !important;
  text-align: justify;
  font-size: 32px;
  font-family: 'roboto mono', monospace;
  letter-spacing: 0.2px;
  line-height: 1.05;
}