/* Outer Containers */
.screen-container {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1360px;
    height: 840px;
    z-index: 10;
    pointer-events: none !important;

}

.content-container {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1120px;
    height: 840px;
    z-index: 10;
    pointer-events: none !important;
    background-image: url("../assets/bg.png");
    padding: 0px 48px;
    align-items: center;
}

.nav-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0px;
    left: 1112px;
    width: 240px;
    height: 840px;
    z-index: 10;
    pointer-events: auto !important;
    border: 2px solid rgba(193, 191, 188, 0.762);
    border-radius: 12px;
}

.nav-container-inner {
    height: 114px;
    width: 100%;
    border-top: 1px solid rgb(176, 176, 176);
    border-bottom: 1px solid rgb(176, 176, 176);
    background-color: rgba(120, 120, 120, 0.419);
    display: flex;
    flex-direction: column;
    justify-content: center;
    vertical-align: middle;
    padding-top: 0px !important;
}

.highlighted-nav {
    background-color: #f0f0f07c !important;
}

.nav-container-inner-logo {
    height: 146px;
    width: 100%;
    padding: 8px 18px;
}

.title-container {
    align-items: center;
    margin-top: 36px;
    margin-bottom: 16px;
    width: 100%;
    pointer-events: none !important;
}

.about-container {
    padding: 16px 32px;
    pointer-events: none !important;
}

.contact-links-mobile {
    display: none;
    flex-direction: row;
    align-items: center;
    font-family: 'roboto mono', monospace;
    font-size: 32px;
    justify-content: center;
    gap: 60px;
    padding-right: 12px;
    margin: 20px 0;
    pointer-events: all !important;
}

.contact-link {
    color: #719dc4;
}

@media (max-width: 932px) and (orientation: landscape) and (pointer: coarse) {
    .contact-links-mobile {
        display: flex !important;
    }
}

/* Buttons */
.button-container-outer {
    display: block;
    position: absolute;
    top: 32px;
    left: 1300px;
    width: 400px;
    height: 800px;
    z-index: 10;
    pointer-events: auto !important;
    align-items: center;
}

.button-container-inner {
    padding: 12px;
    margin: 10px 100px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    pointer-events: auto !important;
}

button,
.button {
    cursor: pointer;
    pointer-events: all;
    padding: 8px;
    margin: 27px 12px;
    height: 58px;
    width: 108px;
    background-color: #1e1e1e00;
    color: #1e1e1e00;
    outline: none;
    border: none;
    border-radius: 6px;
    box-shadow: none !important;
}

#back-button {
    cursor: pointer;
    pointer-events: all;
    padding: 8px;
    margin: 12px 0px;
    margin-left: 18px;
    margin-bottom: 30px;
    height: 60px;
    width: 54%;
    background-color: #1e1e1e00;
    color: #1e1e1e00;
    outline: none;
    border: none;
    border-radius: 20px;
    box-shadow: none !important;
}

@media (hover: hover) {

    button:hover,
    .button:hover {
        background-color: rgba(239, 230, 221, 0.419);
        transition: background-color 0.4s ease;
    }
}


#logo {
    width: 160px;
    height: auto;
    margin-top: 10px;
    margin-left: 20px;
}

.content-title {
    font-size: 70px;
    font-weight: 700;
    font-family: 'roboto mono', monospace;
    color: rgba(244, 236, 225, 0.775) !important;
    text-align: center;
    padding-top: 28px;
}

.content-image {
    width: 600px;
    height: auto;
    margin-top: 18px;
    margin-bottom: 24px;
    border-radius: 8px;
    border: 3px solid rgba(153, 188, 219, 0.4);
}

.exp-image {
    width: 480px;
    height: auto;
    margin-top: 4px;
    border-radius: 12px;
    border: 1px solid rgba(153, 188, 219, 0.4);
}

.full-screen-img {
    margin-right: 28px;
}

.content-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-text {
    font-size: 28px;
    line-height: 1.1;
    letter-spacing: 0.1px;
    text-align: left;
}

#ieee-description {
    margin: 48px 36px;
}

.project-image-container {
    display: flex;
    flex-direction: row;
    margin-top: 10px;

}

.link-box {
    display: flex;
    flex-direction: column;
    margin-top: 16px;
    padding-left: 36px;
    gap: 30px;
}

.link-box-inner {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
}

.project-tag {
    color: rgb(57, 196, 255);
    background-color: rgb(50, 65, 68);
    border-radius: 8px;
    margin: 4px 0px;
    display: inline-block;
    width: fit-content;
    padding: 12px 16px;
    font-size: 24px;
    font-family: 'roboto mono', monospace;
}

.project-link {
    color: rgb(156, 202, 222);
    text-decoration: underline;
    margin-bottom: 16px;
    font-size: 28px;
    font-family: MSSansSerif, monospace;
    pointer-events: all !important;
}

.exp-link {
    color: rgb(222, 217, 156);
    text-decoration: underline;
    font-size: 28px;
    font-family: MSSansSerif, monospace;
}

.hide {
    display: none;
    opacity: 0;
    transition: display 5s allow-discrete, opacity 5s ease;
}

.click-me-btn {
    opacity: 1;
    cursor: pointer;
    padding: 1px;
    font-size: 160px;
    position: absolute;
    top: -36px;
    left: -12px;
    width: 1360px;
    height: 850px;
    background-color: #0f1514;
    background-image: url("../assets/bg1.png");
    background-size: cover;
    color: #afccae;
    font-family: Millennium, monospace;
    letter-spacing: 2px;
    border: none;
    z-index: 100;
    pointer-events: auto !important;
    display: block;
}

@starting-style {
    .click-me-btn {
        opacity: 1;
    }
}

.click-me-btn:hover {
    background-color: #0f1514;
    background-image: url("../assets/bg1.png");
    color: #8ba18a;
}